html {
    background-color: beige;
}

body {
    margin: 40px;
}

section {
    display: flex;
}

article {
    width: 400px;
    height: 660px;
    margin: auto;
    border-radius: 1%;
}

#div_art1, #div_art2, #div_art3 {
   
    width: 40px;
    height: 40px;
    margin-top: 200px;
    margin-left: 345px;
    border-radius: 10%;

}

#div_art1 {
    background-color: #ED335F;
}

#div_art1:hover {
    box-shadow: 0 0 3px whitesmoke;   
}

#div_art2 {
    background-color: #761137;
}

#div_art2:hover {
    box-shadow: 0 0 3px whitesmoke;   
}

#div_art3 {
    background-color: #F9858B;   
}

#div_art3:hover {
    box-shadow: 0 0 3px whitesmoke;   
}

#art1 {
    background-color: #F9858B;
          
}

#art2 {
    background-color: #ED335F;    
}

#art3 {
    background-color: #761137;   
}
